*{
    margin: 0;
    padding: 0;
    text-align: center;
}
input {
    width: 70px;
    height: 50px;
    margin: 5px;
    font-size: 20px;
    border-radius: 8px;
    outline: none;
}
#btn {
    font-size: 18px;
    margin: 10px;
    padding: 5px 10px;
    border-radius: 5px;
    outline: none;
}
h1 {
    margin: 40px;
}